#board {
  background-color: rgb(255, 217, 0);
  height: 550px;
  width: 60%;
  margin-left: 20%;
  margin-top: 40px;
  text-align: center;
  padding: 0;
}

#board-head {
  position: relative;
}

.drop-btn {
  margin: 10px 5.8%;
  border-radius: 5px;
  color: white;
}

#matrix {
  height: 100%;
  background-color: rgb(255, 217, 0);
}

.row {
  height: 13.2%;
  margin-bottom: 5px;
}

.space {
  background-color: white;
  width: 13.4%;
  margin: 11px;
  height: 100%;
  position: relative;
  border: 1px solid gray;
  border-radius: 50%;
  display: inline-block;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

